absl==0.0
absl_py==1.2.0
immutabledict==2.2.3
importlib_resources==5.9.0
ipython==8.7.0
matplotlib==3.5.3
notebook==6.4.12
numpy==1.23.2
object_detection==0.0.3
pandas==1.4.4
plotly==5.11.0
protobuf==4.21.12
rich==12.6.0
scipy==1.9.1
Shapely==1.8.4
six==1.16.0
skimage==0.0
tensorflow_graphics==2021.12.3
torch==1.13.1
torchvision==0.14.1
wxauto==3.3.5.3
